$fonts: Helvetica, sans-serif;
$color: #ffffff;
$height: 40px;
$width: 400px;

.header {
  font-size: 20px;
  display: flex !important;
  flex-direction: row !important;
  height: $height;
  position: relative;
  a {
    background: $color;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
    color: darkred;
    text-align: center;
    vertical-align: middle;
  }
}
